.jeu {
font-family: "Helvetica Neue",Helvetica,Arial;
color: #ccc;
}
ol>li{
	margin:0 -4px;
	padding:4px;
	display:inline-block;
	background-color: #002ae0;
	text-align:center;
}
ul {
	list-style:none;
	padding: 0;
	margin:0;
}
ul li {
	border: 4px solid #fff;
	width:48px;
	height:48px;
	line-height:16px;
	margin: 8px 4px;
	text-align: center;
	border-radius: 50%;
	background-color:#fff;
    box-shadow:-4px -4px 2px #617bec, 4px 4px 2px #001d99;
}

ul li.rouge {
	border-color: #f00;
	background-color:#f00;
    box-shadow:-4px -4px 2px #617bec, 4px 4px 2px #001d99,
		-4px -4px 2px #ffb6b6 inset, 4px 4px 2px #a70000 inset;
}
ul li.jaune {
	border-color: #fa0;
	background-color:#fa0;
    box-shadow:-4px -4px 2px #617bec, 4px 4px 2px #001d99,
		-4px -4px 2px #ffe8b6 inset, 4px 4px 2px #a77200 inset;
}

li button {
	cursor:pointer;
}
		

ul li.o:before, ul li.x:before {
color: #000;
	position:absolute;
}

ul li.o:before {
	content:'o';
}
ul li.x:before {
	content:'x';
}

.alignes {
	background-color:yellow;
}
